.form-input {
    background: #e3e3e3;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 1rem;
}

.input-icon-wrapper {
    position: relative;
    min-height: 50px;
}

.input-icon-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    z-index: 10;
}

.custom-file-upload {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #f9f9f9;
    color: #333;
    transition: box-shadow 0.3s ease;
}
